<!--{% extends "base.html" %}

{% block titulo %} Detalles de  {{ producto.nombre }} {% endblock %}

{% block contenido_principal %}
<h1> {{producto.nombre}} </h1>
	 <div class="row">
		<div class="media col-xs-10">
		  <div class="media-left media-middle">
				<img class="media-object" src="/portadas/{{ producto._id.toString() }}.png"/>
		  </div>
		  <div class="media-body">
			  <p>{{ producto.descripción }}</p>
		  </div>
			<div class="media-body">
				<p>{{ producto.precio }} €</p>
			</div>
			<a class="btn btn-primary pull-right"
			   href="/producto/comprar/{{producto._id.toString()}}"> Comprar </a>
		</div>
	  </div>
{% endblock %} -->

{% extends "base.html" %}

{% block titulo %} Detalles de  {{ producto.nombre }} {% endblock %}

{% block contenido_principal %}


<div class="container">
	<h2 th:text="#{details.message}">Detalles del producto</h2>

	<div class="panel panel-default">
		<div class="panel-heading">Título</div>
		<div class="panel-body">{{producto.nombre}}</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">Descipción</div>
		<div class="panel-body">{{producto.descripcion}}</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">Precio</div>
		<div class="panel-body">{{producto.precio}}</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">Fecha</div>
		<div class="panel-body">{{producto.fecha}}</div>
	</div>
	<div class="media-left media-middle">
		<img class="media-object" src="/portadas/{{ producto._id.toString() }}.png" />

	</div>
	<div>
        <div>
            {% if producto.comprador != null %}
                <p class="bg-danger text-white" style="text-align: center; font-size:30px">¡Este producto ya ha sido vendido!</p>
            {% endif %}
            {% if producto.comprador == null %}
                <a class="btn btn-primary pull-center" style="margin-top: 50px"
                   href="/producto/comprar/{{producto._id.toString()}}"> Comprar </a>
            {% endif %}
        </div>
	</div>
</div>

{% endblock %}
