{% extends "base.html" %}
{% block titulo %} MyWallapop {% endblock %}
{% block contenido_principal %}
<h1>Productos</h1>
<!-- Búsqueda -->
<div class="row">
    <div id="custom-search-input ">
        <form method="get" action="/tienda" >
            <div class="input-group col-xs-8 col-sm-6 col-md-4 col-lg-5 pull-left">
                <input type="text" class="search-query form-control"
                       placeholder="Nombre de la canción" name="busqueda"/>
                <span class="input-group-btn">
<button class="btn" type="submit">
<span class="glyphicon glyphicon-search"></span>
</button>
</span>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <!-- http://librosweb.es/libro/bootstrap_3/capitulo_2/tipos_de_rejillas.html -->
    {% for producto in productos %}
    <div>
        <hr size="20px" color="black" />
        <div style="width: 200px">

            <div >
                <div>
                    <a href="/producto/{{ producto._id.toString() }}"> <img src="/portadas/{{ producto._id.toString() }}.png" alt="logo" width="80" height="80"/></a>
                        <div class="input-group col-xs-8 col-sm-6 col-md-4 col-lg-5 pull-right" style="margin-bottom: 14%">
                            {% if producto.comprador != null %}
                            <p class="bg-danger text-white" style="text-align: center; font-size:15px">Vendido</p>
                            {% endif %}
                            {% if producto.propietario == usuario && producto.comprador == null %}
                            <span>Producto propio</span>
                            {% endif %}
                            {% if producto.comprador == null && producto.propietario != usuario %}
                            <a class="btn btn-primary pull-center" style="margin-top: 50px"
                               href="/producto/comprar/{{producto._id.toString()}}">Comprar</a class="btn btn-primary pull-center">
                            {% endif %}
                        </div>
                        <!-- http://www.socicon.com/generator.php -->
                    <a href="/producto/{{ producto._id.toString() }}">
                    <div>{{ producto.nombre }}</div>
                        <div>{{ producto.precio }} €</div>
                    </a>

                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <hr size="20px" color="black" />
</div>
{% endblock %}
